.inputBody {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.2s ease;
  width: 100%;
}

.inputBody:focus {
  border-color: #007bff;
}

.inputBody:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input-wrapper .inputBody {
  width: 100%;
  padding: 10px 40px 10px 10px; /* espaço à direita pro ícone */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: no;
}
