.containerProducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5%;
  align-items: center;
  gap: 20px;
}

.bodyProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

@media (max-width: 800px) {
  .bodyProducts {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
