.containerHome {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
